name: Lint
run-name: Linting initiated by ${{ github.actor }}

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8-nb

      - name: Linting with Flake8
        run: |
          flake8 --max-line-length=100 --extend-ignore E203 $(git ls-files "*.py")
          flake8_nb --max-line-length=100 --extend-ignore E203 $(git ls-files "*.ipynb")
